<%= form_with scope: :player, url: articles_player, local: true do |form| %>
  <p>
    <%= form.label :id %><br>
    <%= form.text_field :id %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>