<h1>Гравці</h1>
<%= form_with scope: :players, url: player_path, local: true do |form| %>
  <p>
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname %>
  </p>

  <p>
    <%= form.label :rank %><br>
    <%= form.text_area :rank %>
  </p>

  <p>
    <%= form.label :charisma %><br>
    <%= form.text_area :charisma %>
  </p>

  <p>
    <%= form.label :wisdom %><br>
    <%= form.text_area :wisdom %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>